Repository po45ke95/aws-daily-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-snapshot, build-cost

build-snapshot:
  stage: build
  timeout: 10m
  tags:
  - shell
  script:
  - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ECR_ENDPOINT_PREFIX
  - docker build -t $AWS_ECR_ENDPOINT_PREFIX/$AWS_ECR_PROJECT_NAME:$SNAP_TAG -f ec2_snapshot/Dockerfile . --no-cache
  ...

build-cost:
  stage: build
  timeout: 10m
  tags:
  - shell
  script:
  - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ECR_ENDPOINT_PREFIX
  - docker build -t $AWS_ECR_ENDPOINT_PREFIX/$AWS_ECR_PROJECT_NAME:COST_TAG -f pricing/Dockerfile . --no-cache
  ...

Fixed: each folder have requirements file.
  .gitlab-ci.yml
  ec2_snapshot/Dockerfile
  ec2_snapshot/requirements.txt
  pricing/requirements.txt
Due: build-snapshot, build-cost

Fixed: requirements.
  pricing/Dockerfile
Due: build-cost

Fixed: ci file.
  .gitlab-ci.yml
Due: none

Fixed: ci ecr name.
  .gitlab-ci.yml
Due: none

Fixed: ci ecr tag name.
  .gitlab-ci.yml
Due: none

Path conditions:
  build-snapshot: any of: ec2_snapshot/**/*
  build-cost: any of: pricing/**/*
